.LoginButton{
    -fx-background-color: #6FBFB7;
}
.exitButton{
    -fx-background-color: transparent;
}
#anchorPaneLeft{
    -fx-background-color:  #6FBFB7;
}
#anchorPaneRight{
    -fx-background-color: #D0F2F2;
}
.text-field_and_password-field{
    -fx-background-color: transparent;
    -fx-border-color:  #c9a6ae;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill: #c9a6ae;
}







