@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#lblBakery{
    -fx-font-family: 'Pacifico', cursive;
    -fx-font-size: 48px;
}
.ButtonSideBar:hover{
    -fx-background-color: #91A9B8;
    -fx-background-radius: 20px 0px 0px 20px;
    -fx-border-radius: 20px 0px 0px 20px;
}
.ButtonSideBar{
    -fx-background-color: #6FBFB7;
}
.vboxLeft{
    -fx-background-color: #6FBFB7;
}
.paneCenter{
    -fx-background-color: #D0F2F2;
}
